#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

/* styles.css */
.mySwiper {
    width: 100%;
    height: 100%;
}

.mySwiper img {
    max-height: 100%;
    width: auto;
    object-fit: cover;
}