@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.lato {
    font-family: 'Lato', sans-serif;
}
.lora{
    font-family: 'Lora', serif;
}

/* https://colorhunt.co/palette/0766ad29adb2c5e898f3f3f3 */

/* 
Blue: #0766AD
Teal: #29ADB2
Green: #C5E898
gray: #F3F3F3 
 */